h1{
   text-align:center;
}

body{
    background-color:white;
    font-size:xx-large;
    font-family:monospace;
}

#headtime{
    font-family:alarm clock;
 
}

input{
    max-width:100px;
}

#saluting{
    color:red;
}

.invisible{
    display:none;
}